{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Restablecer Contraseña Enviado" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-dark text-white border-info">
                <div class="card-header bg-info text-dark">
                    <h2 class="text-center">{% trans "Solicitud Enviada" %}</h2>
                </div>
                <div class="card-body">
                    <p class="text-center">{% trans "Hemos recibido tu solicitud para restablecer la contraseña." %}</p>
                    <p class="text-center">{% trans "Un administrador revisará tu solicitud y te ayudará lo más rápido posible." %}</p>
                    <p class="text-center mt-4">
                        <a href="{% url 'login' %}" class="btn btn-outline-info">{% trans "Volver al Inicio de Sesión" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}